.main-layout {
  display: flex;
  height: 100vh;
  max-height: calc(100vh - 70px);
  overflow: auto;
}

.review-page {
  display: flex;
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

/* Assuming --card-callout is defined */
.left-column {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex: 1;
  width: 20vw;
  max-width: 20vw;
  overflow-y: auto;
  background-color: var(--card-callout);
  padding: 10px;

  position: fixed;
  height: calc(100vh - 70px);
}

.left-column-content {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.advanced-view-button { /*TODO center this.... and probably make it a different color*/
  background-color: #4CAF50;
  padding: 10px 20px;
  align-self: center;
  font-size: 16px;
}

.grade-summary-button { /*TODO center this....*/
  background-color: #4CAF50;
  padding: 10px 20px;
  align-self: center;
  font-size: 16px;
}

.grade-summary-table {
  width: 100%;
  border-collapse: collapse;
}

.grade-summary-table th,
.grade-summary-table td {
  border: 1px solid var(--card-border-color);
  padding: 8px;
  text-align: left;
}

.grade-summary-table th {
  background-color: var(--card-color);
}

.grade-summary-total {
  font-weight: bold;
}

.assignment-and-comments {
  display: flex;
  align-items: stretch;
  flex: 1;
  max-width: 80%;
  min-height: calc(100vh - 70px);
  height: max-content;
  overflow-y: auto;
  margin-left: 20vw;
}

.center-column {
  flex: 3;
  max-width: 60vw;
  height: max-content;
  padding: 10px; /* Add padding for spacing */
}

.right-column {
  flex: 1;
  width: 20vw;
  overflow-y: auto;
  background-color: var(--card-callout); /* Change background color */
  padding: 10px; /* Add padding for spacing */
  z-index: 100;
}

/* Add space between columns */
.left-column {
  margin-right: 10px;
}

.right-column {
  margin-left: 10px;
  position: relative;
}
.assignment-header {
  border-bottom: 2px solid #ccc; /* Medium-height border */
  padding: 10px 0; /* Add some padding for spacing */
}

.assignment-details {
  margin-top: 20px; /* Add margin below the header */
}

.assignment-details-widget {
  width: 100%;
}

.assignment-details th, .assignment-details td {
  border: 1px solid #ccc;
  padding: 8px;
}

.ipsum-content {
  white-space: pre-wrap; /* Preserve spaces and line breaks */
  word-wrap: break-word; /* Allow text wrapping */
}
/* page.module.css */
.highlighted-text {
  background-color: yellow; /* Highlight color */
  cursor: pointer;
}

.comment {
  border: 1px solid var(--text-colour);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: calc(100% - 10px);
  border-radius: 10px;
  z-index: 100;
}

.comment.active {
  border: 5px solid var(--text-colour);
}

.comment:hover {
  background-color: var(--card-color);
}

.comment-x-line.active {
  height: 5px;
  transform: translateY(-4px);
}

.comment-y-line.active {
  width: 5px;
  transform: translateX(-4px);
}

.comment-x-line {
  position: absolute;
  background-color: var(--text-colour);
  height: 1px;
  width: 200px;
}

.comment-y-line {
  position: absolute;
  background-color: var(--text-colour);
  height: 100px;
  width: 1px;
}

.general-comments-section {
  text-align: center;
}

.general-comments-section textarea {
  width: calc(20vw - 20px);
  max-width: calc(20vw - 20px);
  min-height: 250px;
  font-family: Arial, Helvetica, sans-serif;
}