.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  min-width: calc(100vw / 3);
  max-width: calc(100vw / 3);
  padding: 15px;
  margin-bottom: 33vh;
}

.form-group {
  margin-bottom: 15px;
}
