.buttons {
  margin-bottom: 20px;
}

.assignmentsContainer {
  width: 90%;
  margin-left: 20px;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.assignmentTile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--card-border-color);
  border-radius: 5px;
  padding: 10px;
  background-color: var(--card-color);
}

.actions {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: var(--background-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent p {
  padding: 5px 10px;
  margin: 0;
  border-bottom: 1px solid var(--card-border-color);
}

.studentList {
  display: flex;
  flex-wrap: wrap;
}

.studentList button {
  margin: 5px;
}

.dropdown:hover .dropdownContent {
  display: block;
}