.header {
  margin-bottom: 20px;
}

.submissionInfo {
  display: flex;
  align-items: center;
}

.submissionInfo p {
  margin-right: 20px;
}

.dropArea {
  border: 2px dashed var(--card-border-color);
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
